<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AkashShanker321/User-Registration-and-login-System-with-admin-panel">Project 1</a></strong>
			- <b>User-Registration-and-login-System-with-admin-panel.</b>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AkashShanker321/Online-Food-Delivery">Project 2</a></strong>
			- <b>Online-Food-Delivery.</b>
			
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AkashShanker321/Pokemon-game">Project 3</a></strong>
			- <b>Pokemon-game.</b>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/AkashShanker321/Quiz-App-In-Python">Project 4</a></strong>
			- <b>Quiz-App-In-Python.</b>
		</h5>
		


    </div>
  </div>
</div>
</section>
